In [ ]:
import mysql.connector as connection
from sqlalchemy import VARCHAR
mydb=connection.connect(host="localhost",user="root",passwd="11223344")
print(mydb)
cursor=mydb.cursor()
# cursor.execute("create database Shudhanshu")
cursor.execute("show databases")
cursor.execute("create table shudhanshu.ineuron(employee_id int(10), emp_name VARCHAR(80) emp_mailid VARCHAR(50),emp_salary int(10) emp_attendance int(3)) ")

print(cursor.fetchall())

In [16]:
import mysql.connector as connection
mydb = connection.connect(host="localhost", user="root", passwd="11223344")
print(mydb)
cursor = mydb.cursor()
#  cursor.execute("create database Shudhanshu")
cursor.execute("create table shudhanshu.ineuron1(employee_id int(10), emp_name varchar(80), emp_mailid varchar(50),emp_salary int(10), emp_attendance int(3)) ")
cursor.execute(cursor.fetchall())

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001F84AA38A60>

In [10]:
import mysql.connector as connection
mydb=connection.connect(host="localhost",user="root",passwd="11223344")
cursor=mydb.cursor()
cursor.execute("insert into shudhanshu.ineuron values(101,'shudhanshu kumar','shudhanshu@ineuron.ai',100,30)")

In [11]:
mydb.commit()

In [12]:
cursor.execute("select * from shudhanshu.ineuron")

In [ ]:
for i in cursor.fetchall():
    print(i)

In [3]:
import mysql.connector as connection
from sqlalchemy import VARCHAR
mydb=connection.connect(host="localhost",user="root",passwd="11223344")
# print(mydb)
cursor=mydb.cursor()
# cursor.execute("create database Shudhanshu")
cursor.execute("show databases")
print(cursor.fetchall())

[('information_schema',), ('mysql',), ('performance_schema',), ('sakila',), ('shudhanshu',), ('sys',), ('world',)]