In [1]:
from flask import Flask ,render_template , request, jsonify

In [2]:
from bs4 import BeautifulSoup as bs

In [3]:
from urllib.request import urlopen as urReq

In [4]:
flipcart_url="https://www.flipkart.com/search?q="+"iphone11"

In [5]:
flipcart_url

'https://www.flipkart.com/search?q=iphone11'

In [6]:
response_website=urReq(flipcart_url)

In [7]:
data_flipcart=response_website.read()

In [8]:
beautifyed_html=bs(data_flipcart,"html.parser")

In [9]:
bigbox=beautifyed_html.find_all("div", {"class": "_1AtVbE col-12-12"})

In [10]:
bigbox[6].div.div.div.a['href']

'/apple-iphone-11-black-64-gb/p/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART&q=iphone11&store=tyy%2F4io&srno=s_1_5&otracker=search&fm=organic&iid=368c0d0e-a7a8-4ef0-818d-7ceeb49d42fa.MOBFWQ6BXGJCEYNY.SEARCH&ppt=None&ppn=None&ssid=i8g1gzrrj40000001671858391488&qH=d6db477051465f9a'

In [11]:
product6="https://www.flipkart.com"+bigbox[6].div.div.div.a['href']

In [12]:
import requests

In [13]:
product66=requests.get(product6)

In [14]:
product6

'https://www.flipkart.com/apple-iphone-11-black-64-gb/p/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART&q=iphone11&store=tyy%2F4io&srno=s_1_5&otracker=search&fm=organic&iid=368c0d0e-a7a8-4ef0-818d-7ceeb49d42fa.MOBFWQ6BXGJCEYNY.SEARCH&ppt=None&ppn=None&ssid=i8g1gzrrj40000001671858391488&qH=d6db477051465f9a'

In [15]:
product66.encoding="utf-8"

In [16]:
product6_page=bs(product66.text,"html.parser")

In [17]:
all_review=product6_page.find_all('div',{"class":"_16PBlm"})

In [18]:
len(all_review)

11

In [19]:
all_review[5]

<div class="_16PBlm _3_IKGE"><div class="col"><div class="col _2wzgFH"><div class="row"><div class="_3LWZlK _1BLPMq">5<img class="_1wB99o" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMyIgaGVpZ2h0PSIxMiI+PHBhdGggZmlsbD0iI0ZGRiIgZD0iTTYuNSA5LjQzOWwtMy42NzQgMi4yMy45NC00LjI2LTMuMjEtMi44ODMgNC4yNTQtLjQwNEw2LjUuMTEybDEuNjkgNC4wMSA0LjI1NC40MDQtMy4yMSAyLjg4Mi45NCA0LjI2eiIvPjwvc3ZnPg=="/></div><p class="_2-N8zT">Worth every penny</p></div><div class="row"><div class="t-ZTKy"><div><div class="">Previously I was using one plus 3t it was a great phone <br/>And then I decided to upgrade I am stuck between Samsung s10 plus or iPhone 11 <br/>I have seen the specs and everything were good except the display itâ€™s somewhere between 720-1080 and itâ€™s not even an amoled itâ€™s an LCD display <br/>But I decided to go with iPhone because I have never used an IOS device I have Been an android user from the past 9 years I ordered IPhone 11 (128gb) product red<br/>My experience after using 3 weeks <br/>1. The delivery ...</div><span class="_1BWGvX"><span>READ MORE</span></span></div></div></div><div class="_2nMSwX _3oLIki"><div class="_21YjFX _2A07HP" style="background-image:url(https://rukminim1.flixcart.com/blobio/124/124/imr-202001/blobio-imr-202001_2b4774125c5240d58cd85d4508b0bcba.jpeg?q=90), url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0iIzlEOUQ5RCIgZmlsbC1ydWxlPSJub256ZXJvIj48cGF0aCBkPSJNMjAgMEgyQzEgMCAwIDEgMCAydjE0YzAgMS4xLjkgMiAyIDJoMThjMSAwIDItMSAyLTJWMmMwLTEtMS0yLTItMnptMCAxNS45MmMtLjAyLjAzLS4wNi4wNi0uMDguMDhIMlYyLjA4TDIuMDggMmgxNy44M2MuMDMuMDIuMDYuMDYuMDguMDh2MTMuODRIMjB6Ii8+PHBhdGggZD0iTTEwIDEyLjUxTDcuNSA5LjUgNCAxNGgxNGwtNC41LTZ6Ii8+PC9nPjwvc3ZnPg==);width:62px;height:62px"></div><div class="_21YjFX _2A07HP" style="background-image:url(https://rukminim1.flixcart.com/blobio/124/124/imr-202001/blobio-imr-202001_7dd8875e0d7c4c879adde8d97ff3c066.jpeg?q=90), url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0iIzlEOUQ5RCIgZmlsbC1ydWxlPSJub256ZXJvIj48cGF0aCBkPSJNMjAgMEgyQzEgMCAwIDEgMCAydjE0YzAgMS4xLjkgMiAyIDJoMThjMSAwIDItMSAyLTJWMmMwLTEtMS0yLTItMnptMCAxNS45MmMtLjAyLjAzLS4wNi4wNi0uMDguMDhIMlYyLjA4TDIuMDggMmgxNy44M2MuMDMuMDIuMDYuMDYuMDguMDh2MTMuODRIMjB6Ii8+PHBhdGggZD0iTTEwIDEyLjUxTDcuNSA5LjUgNCAxNGgxNGwtNC41LTZ6Ii8+PC9nPjwvc3ZnPg==);width:62px;height:62px"></div><div class="_21YjFX _2A07HP" style="background-image:url(https://rukminim1.flixcart.com/blobio/124/124/imr-202001/blobio-imr-202001_644e764fe14946d7913c05cd292e0c20.jpeg?q=90), url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0iIzlEOUQ5RCIgZmlsbC1ydWxlPSJub256ZXJvIj48cGF0aCBkPSJNMjAgMEgyQzEgMCAwIDEgMCAydjE0YzAgMS4xLjkgMiAyIDJoMThjMSAwIDItMSAyLTJWMmMwLTEtMS0yLTItMnptMCAxNS45MmMtLjAyLjAzLS4wNi4wNi0uMDguMDhIMlYyLjA4TDIuMDggMmgxNy44M2MuMDMuMDIuMDYuMDYuMDguMDh2MTMuODRIMjB6Ii8+PHBhdGggZD0iTTEwIDEyLjUxTDcuNSA5LjUgNCAxNGgxNGwtNC41LTZ6Ii8+PC9nPjwvc3ZnPg==);width:62px;height:62px"></div><div class="_21YjFX _2A07HP" style="background-image:url(https://rukminim1.flixcart.com/blobio/124/124/imr-202001/blobio-imr-202001_5ab68a8f0de248edaf45ea7d410d4c46.jpeg?q=90), url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0iIzlEOUQ5RCIgZmlsbC1ydWxlPSJub256ZXJvIj48cGF0aCBkPSJNMjAgMEgyQzEgMCAwIDEgMCAydjE0YzAgMS4xLjkgMiAyIDJoMThjMSAwIDItMSAyLTJWMmMwLTEtMS0yLTItMnptMCAxNS45MmMtLjAyLjAzLS4wNi4wNi0uMDguMDhIMlYyLjA4TDIuMDggMmgxNy44M2MuMDMuMDIuMDYuMDYuMDguMDh2MTMuODRIMjB6Ii8+PHBhdGggZD0iTTEwIDEyLjUxTDcuNSA5LjUgNCAxNGgxNGwtNC41LTZ6Ii8+PC9nPjwvc3ZnPg==);width:62px;height:62px"></div></div><div class="row _3n8db9"><div class="row"><p class="_2sc7ZR _2V5EHH">Vamshi  Chakrala </p><svg class="_2a1p_T" height="14" viewbox="0 0 12 12" width="14" xmlns="http://www.w3.org/2000/svg"><g><circle cx="6" cy="6" fill="#878787" r="6"></circle><path d="M3 6l2 2 4-4" fill="#878787" stroke="#FFF" stroke-width="1.5"></path></g></svg><p class="_2mcZGG" id="review-e3e454a3-814b-4962-81d9-3a4277c239c3"><span>Certified Buyer</span><span>, Huzurnagar</span></p><div></div><p class="_2sc7ZR">Jan, 2020</p></div><div class="_1e9_Zu"><div class="row"><div class="_27aTsS"><div class="_1LmwT9"><svg class="skCrcq" height="15" width="20" xmlns="http://www.w3.org/2000/svg"><path class="_1LIt4y" d="M9.58.006c-.41.043-.794.32-1.01.728-.277.557-2.334 4.693-2.74 5.1-.41.407-.944.6-1.544.6v8.572h7.5c.45 0 .835-.28 1.007-.665 0 0 2.207-6.234 2.207-6.834 0-.6-.47-1.072-1.07-1.072h-3.216c-.6 0-1.07-.535-1.07-1.07 0-.537.835-3.387 1.006-3.944.17-.557-.107-1.157-.664-1.35-.15-.043-.257-.086-.407-.064zM0 6.434v8.572h2.143V6.434H0z" fill="#fff" fill-rule="evenodd"></path></svg><span class="_3c3Px5">11380</span></div><div class="_1LmwT9 pkR4jH"><svg class="skCrcq pkR4jH" height="15" width="20" xmlns="http://www.w3.org/2000/svg"><path class="_1LIt4y" d="M9.58.006c-.41.043-.794.32-1.01.728-.277.557-2.334 4.693-2.74 5.1-.41.407-.944.6-1.544.6v8.572h7.5c.45 0 .835-.28 1.007-.665 0 0 2.207-6.234 2.207-6.834 0-.6-.47-1.072-1.07-1.072h-3.216c-.6 0-1.07-.535-1.07-1.07 0-.537.835-3.387 1.006-3.944.17-.557-.107-1.157-.664-1.35-.15-.043-.257-.086-.407-.064zM0 6.434v8.572h2.143V6.434H0z" fill="#fff" fill-rule="evenodd"></path></svg><span class="_3c3Px5">1613</span></div></div><div class="_2bmov8"><svg class="_2UvOBb" height="11" viewbox="0 0 16 27" width="6" xmlns="http://www.w3.org/2000/svg"><path class="_2aPE6f" d="M16 23.207L6.11 13.161 16 3.093 12.955 0 0 13.161l12.955 13.161z" fill="#fff"></path></svg><div class="_3E8aIl _38dCuf"><div class="_3XCI6U"><a href="/reviews/e3e454a3-814b-4962-81d9-3a4277c239c3"><span>Permalink</span></a></div><div class="_3XCI6U _2b2z-j"><span>Report Abuse</span></div></div></div></div></div></div></div></div></div>

In [21]:
rating=all_review[5].div.div.div.div.text

In [22]:
rating

'5'

In [23]:
all_review[5].div.div.find_all('p',{"class":"_2sc7ZR _2V5EHH"})

In [25]:
name=all_review[5].div.div.find_all('p',{"class":"_2sc7ZR _2V5EHH"})[0].text

In [26]:
name

'Vamshi  Chakrala '

In [28]:
comment_header=all_review[5].div.div.div.p.text

In [29]:
comment_header

'Worth every penny'

In [31]:
all_review[5].div.div.find_all('div',{'class':""})[0].div.text

'Previously I was using one plus 3t it was a great phone And then I decided to upgrade I am stuck between Samsung s10 plus or iPhone 11 I have seen the specs and everything were good except the display itâ€™s somewhere between 720-1080 and itâ€™s not even an amoled itâ€™s an LCD display But I decided to go with iPhone because I have never used an IOS device I have Been an android user from the past 9 years I ordered IPhone 11 (128gb) product redMy experience after using 3 weeks 1. The delivery ...'

In [37]:
all_review[5].div.find_all("p",{"class":"_2sc7ZR"})[1].text

'Jan, 2020'

In [43]:
price=product6_page.find_all("div",{"class":"_30jeq3 _16Jk6d"})[0].text

In [44]:
price

'â‚¹39,999'

In [50]:
for i in all_review:
    price=product6_page.find_all("div",{"class":"_30jeq3 _16Jk6d"})[0].text
    long_review=i.div.find_all("p",{"class":"_2sc7ZR"})[1].text
    comment_header=i.div.div.div.p.text
    name=i.div.div.find_all('p',{"class":"_2sc7ZR _2V5EHH"})[0].text
    rating=i.div.div.div.div.text
    long=i.div.find_all("div",{"class":""})[0].div.text

    print(name,rating,comment_header,long_review,price,long)

Flipkart Customer 5 Simply awesome Nov, 2020 â‚¹39,999 Really satisfied with the Product I received... Itâ€™s totally genuine and the packaging was also really good so if ur planning to buy just go for it.
Flipkart Customer 5 Perfect product! Jun, 2020 â‚¹39,999 Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .
Manish Raghuvanshi 5 Best in the market! Apr, 2021 â‚¹39,999 Great iPhone very snappy experience as apple kind. Upgraded from iPhone 7. Pros-Camera top class - Battery top performed -Chipset no need to say as apple kind -Security as you expect from apple - Display super bright industry leading colour   accuracy and super responsive -Build quality as expect from apple sturdy  premium durable beautiful stylish. -Os most stable os in smartphone industry Cons -No 5G-Display is not based on OLED technology -Charger headphones and 1 apple stic...
George Haokip 4 Value-for-money Mar, 2021 â‚¹39,999 I'm Really happy with the productDelivery was fast as well..it was a gift for my sister and she loved it so much.
Jimly  Gogoi 5 Highly recommended May, 2020 â‚¹39,999 It's my first time to use iOS phone and I am loving my upgradation ðŸ˜ðŸ˜ I love the color, I love the assebility of the phone....I need to learn more about its functionality, but as far as I have seen, it's quite easy and it has a lot of functions to work on, specially if you are a content writer or a blogger you get a lot of content creation platforms and they are really amazing. This phone not only for good quality photography but a lot of other task too.ðŸ˜ðŸ’¯
Vamshi  Chakrala  5 Worth every penny Jan, 2020 â‚¹39,999 Previously I was using one plus 3t it was a great phone And then I decided to upgrade I am stuck between Samsung s10 plus or iPhone 11 I have seen the specs and everything were good except the display itâ€™s somewhere between 720-1080 and itâ€™s not even an amoled itâ€™s an LCD display But I decided to go with iPhone because I have never used an IOS device I have Been an android user from the past 9 years I ordered IPhone 11 (128gb) product redMy experience after using 3 weeks 1. The delivery ...
Vishal Dubey 5 Highly recommended Jul, 2020 â‚¹39,999 What a camera .....just awesome ..you can feel this iPhone just awesome . Good for gaming also ...try pubg in hd itâ€™s just wow
Chirag Rajput 5 Perfect product! Feb, 2021 â‚¹39,999 Value for money5 star rating Excellent cameraBattery backup full day in single charge.Tougher and water resistant design, glossy back.The screen has excellent brightness and contrast.Apple A13 Bionic is the fastest smartphone chip on the planet.Excellent battery life, fast charging support.Stereo speakers with great quality.
Rahul Verma 5 Great product Mar, 2020 â‚¹39,999 Amazing Powerful and Durable Gadget.Iâ€™m am very happy with the camera picture quality, Amazing face id unlocked in dark room, Strong battery with perfect screen size as you can carry easily in pocket. This is my third iPhone. I shifted from android Samsung Note series to iPhone because of the strong build quality and peace of mind for next 3-4 years.Donâ€™t think to much just go for it and I suggest you to go for minimum 128gb variant or more 256gb. Iâ€™ve attached my puppy pics and no fi...
vijay hegde 4 Pretty good May, 2021 â‚¹39,999 I was using Iphone 6s and also Oneplus 6t. Both mobiles were perfectly alright in Photos, gaming, and smooth interface . My 6s mobile getting battery issue. thought upgrade to 11. Really like this mobile of its Internal storage (compare to 6s) , camera and its touch feeling. Its a worth buying mobile for me.

AttributeError: 'NoneType' object has no attribute 'find_all'

In [58]:
import mysql.connector as conn
mydb=conn.connect(host="localhost",user='root',passwd="11223344")
cursor=mydb.cursor()
cursor.execute("create database if not exists review")
cursor.execute("create table if not exists review.storereview (price varchar(30), comment_header varchar(),name varchar(),rating varchar(90),`long` varchar() )")

ProgrammingError: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '),name varchar(),rating varchar(90),`long` varchar() )' at line 1

In [59]:
cursor.execute("insert into taskdb.taktable values(%s, %s,%s,%s,%s)",(price,comment_header,name,rating,long))

DataError: 1136 (21S01): Column count doesn't match value count at row 1

In [60]:
import pandas as pd

In [61]:
comment_header = []
rating = []
customer_name = []
review =  []
date = []
price = []
for i in range(len(product6_page)):
    # if i != None:
    comment_header.append(product66[i].div.div.p.text)
    rating.append(product66[i].div.div.div.div.text)
    customer_name.append(product66[i].div.div.find_all("p", {"class":"_2sc7ZR _2V5EHH"})[0].text)
    review.append(product66[i].div.div.find_all("div", {"class":"t-ZTKy"})[0].text)
    date.append(product66[i].div.find_all('p',{"class":"_2sc7ZR"})[1].text)
    price.append(product66.find_all("div",{"class":"_30jeq3 _16Jk6d"})[0].text)

dict_data = {"customer_name":customer_name,
            "rating":rating,
            "header":comment_header,
             "price":price,
             "date":date,
             "review":review
            }
df = pd.DataFrame(dict_data)
# df.to_csv("flipkart_data.csv")

TypeError: 'Response' object is not subscriptable

In [65]:
comment_header = []
rating = []
customer_name = []
review =  []
date = []
price = []
for i in range(len(product66)):
    # if i != None:
    comment_header.append(product66[i].div.div.p.text)
    rating.append(product66[i].div.div.div.div.text)
    customer_name.append(product66[i].div.div.find_all("p", {"class":"_2sc7ZR _2V5EHH"})[0].text)
    review.append(product66[i].div.div.find_all("div", {"class":"t-ZTKy"})[0].text)
    date.append(product66[i].div.find_all('p',{"class":"_2sc7ZR"})[1].text)
    # price.append(bs_pro_6.find_all("div",{"class":"_30jeq3 _16Jk6d"})[0].text)

dict_data = {"customer_name":customer_name,
            "rating":rating,
            "header":comment_header,
             "price":price,
             "date":date,
             "review":review
            }
df = pd.DataFrame(dict_data)

TypeError: object of type 'Response' has no len()