In [1]:
''' 
task 1 for fitbit dataset
1. load this dataset
2. while creating a table in sql don't use manual approach to create it , always use a automation
 :- hints- use csvkit library to automate this task and to load dataset in bilk in mysql
3. convert all the dates avaible in dataset to timestamp format in pandas and in sql you to convert it in date format
4 . Find out in this data that how many unique id's we have 
5 . which id is one of the active id that you have in whole dataset 
6 . how many of them have not logged there activity find out in terms of number of ids 
7 . Find out who is the laziest person id that we have in dataset 
8 . Explore over an internet that how much calories burn is required for a healthy person and find out how many healthy person we have in our dataset 
9. how many person are not a regular person with respect to activity try to find out those 
10 . who is the thired most active person in this dataset find out those in pandas and in sql both . 
11 . who is the 5th most laziest person avilable in dataset find it out 
12 . what is a totla acumulative calories burn for a person find out 
'''

" \ntask 1 for fitbit dataset\n1. load this dataset\n2. while creating a table in sql don't use manual approach to create it , always use a automation\n :- hints- use csvkit library to automate this task and to load dataset in bilk in mysql\n3. convert all the dates avaible in dataset to timestamp format in pandas and in sql you to convert it in date format\n4 . Find out in this data that how many unique id's we have \n5 . which id is one of the active id that you have in whole dataset \n6 . how many of them have not logged there activity find out in terms of number of ids \n7 . Find out who is the laziest person id that we have in dataset \n8 . Explore over an internet that how much calories burn is required for a healthy person and find out how many healthy person we have in our dataset \n9. how many person are not a regular person with respect to activity try to find out those \n10 . who is the thired most active person in this dataset find out those in pandas and in sql both . \n11 . who is the 5th most laziest person avilable in dataset find it out \n12 . what is a totla acumulative calories burn for a person find out \n"

In [2]:
'''
#task 2 - Superstore_USA
1 . load this data in sql and in pandas with a relation in sql 
2 . while loading this data you dont have to create a table manually you can use any automated approach to create a table and load a data in bulk in table 
3 . Find out how return that we ahve recived and with a product id 
4 . try  to join order and return data both in sql and pandas 
5 . Try to find out how many unique customer that we have 
6 . try to find out in how many regions we are selling a product and who is a manager for a respective region 
7 . find out how many different differnet shipement mode that we have and what is a percentage usablity of all the shipment mode with respect to dataset 
8 . Create a new coulmn and try to find our a diffrence between order date and shipment date
9 . base on question number 8 find out for which order id we have shipment duration more than 10 days 
10 . Try to find out a list of a returned order which sihpment duration was more then 15 days and find out that region manager as well 
11 . Gorup by region and find out which region is more profitable 
12 . Try to find out overalll in which country we are giving more didscount 
13 . Give me a list of unique postal code 
14 . which customer segement is more profitalble find it out . 
15 . try to find out the 10th most loss making product catagory . 
16 . Try to find out 10 top  product with highest margins '''

'\n#task 2 - Superstore_USA\n1 . load this data in sql and in pandas with a relation in sql \n2 . while loading this data you dont have to create a table manually you can use any automated approach to create a table and load a data in bulk in table \n3 . Find out how return that we ahve recived and with a product id \n4 . try  to join order and return data both in sql and pandas \n5 . Try to find out how many unique customer that we have \n6 . try to find out in how many regions we are selling a product and who is a manager for a respective region \n7 . find out how many different differnet shipement mode that we have and what is a percentage usablity of all the shipment mode with respect to dataset \n8 . Create a new coulmn and try to find our a diffrence between order date and shipment date\n9 . base on question number 8 find out for which order id we have shipment duration more than 10 days \n10 . Try to find out a list of a returned order which sihpment duration was more then 15 days and find out that region manager as well \n11 . Gorup by region and find out which region is more profitable \n12 . Try to find out overalll in which country we are giving more didscount \n13 . Give me a list of unique postal code \n14 . which customer segement is more profitalble find it out . \n15 . try to find out the 10th most loss making product catagory . \n16 . Try to find out 10 top  product with highest margins '

In [3]:
import pandas as pd

In [4]:
df=pd.read_csv('https://raw.githubusercontent.com/adityacs103/ineuron/main/pandas/FitBit%20data.csv')

In [5]:
df.head()

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
0,1503960366,3/25/2016,11004,7.11,7.11,0.0,2.57,0.46,4.07,0.0,33,12,205,804,1819
1,1503960366,3/26/2016,17609,11.55,11.55,0.0,6.92,0.73,3.91,0.0,89,17,274,588,2154
2,1503960366,3/27/2016,12736,8.53,8.53,0.0,4.66,0.16,3.71,0.0,56,5,268,605,1944
3,1503960366,3/28/2016,13231,8.93,8.93,0.0,3.19,0.79,4.95,0.0,39,20,224,1080,1932
4,1503960366,3/29/2016,12041,7.85,7.85,0.0,2.16,1.09,4.61,0.0,28,28,243,763,1886