In [7]:
import pandas as pd

In [8]:
'''Task
AgentLoginReport and AgentPerformance
weekly rating report
1. find out there average rating on weekly basis keep it in the mind they work five day in a week
2. total working days for each agent
3. total query that you have taken
4. total feedback that you have recieved
5. a agent name who have average raring between 3.5 to 4
6. Agent name who have rating less than 3.5
7. Agent name who have rating more than 4.5
8. how many feedback agent have more than 4.5 average
9. average weekly response time for each agents 
10. average weekly resolution time for each agents 
11.  list of all agents name
12. percentage of chat on wich they have recieved a feedback
13. total contribution hour for each and every agent weekly basis 
14. total percentage of active hour for a month 
'''

'Task\nAgentLoginReport and AgentPerformance\nweekly rating report\n1. find out there average rating on weekly basis keep it in the mind they work five day in a week\n2. total working days for each agent\n3. total query that you have taken\n4. total feedback that you have recieved\n5. a agent name who have average raring between 3.5 to 4\n6. Agent name who have rating less than 3.5\n7. Agent name who have rating more than 4.5\n8. how many feedback agent have more than 4.5 average\n9. average weekly response time for each agents \n10. average weekly resolution time for each agents \n11.  list of all agents name\n12. percentage of chat on wich they have recieved a feedback\n13. total contribution hour for each and every agent weekly basis \n14. total percentage of active hour for a month \n'

In [9]:
df=pd.read_csv('https://raw.githubusercontent.com/adityacs103/ineuron/main/pandas/AgentPerformance.csv')
df

,SL No,Date,Agent Name,Total Chats,Average Response Time,Average Resolution Time,Average Rating,Total Feedback
0,1,7/30/2022,Prerna Singh,11,0:00:38,0:04:20,4.11,9
1,2,7/30/2022,Nandani Gupta,11,0:01:15,0:28:25,3.14,7
2,3,7/30/2022,Ameya Jain,14,0:00:30,0:11:36,4.55,11
3,4,7/30/2022,Mahesh Sarade,14,0:01:04,0:15:46,4.71,7
4,5,7/30/2022,Swati,14,0:01:11,0:16:33,3.67,6
...,...,...,...,...,...,...,...,...
2155,2156,7/1/2022,Sowmiya Sivakumar,0,0:00:00,0:00:00,0.00,0
2156,2157,7/1/2022,Nitin M,0,0:00:00,0:00:00,0.00,0
2157,2158,7/1/2022,Vivek,0,0:00:00,0:00:00,0.00,0
2158,2159,7/1/2022,Ayushi Mishra,0,0:00:00,0:00:00,0.00,0
2159,2160,7/1/2022,Chaitra K Hiremath,0,0:00:00,0:00:00,0.00,0

In [10]:
df= df[df['Total Chats'] != 0]
df

,SL No,Date,Agent Name,Total Chats,Average Response Time,Average Resolution Time,Average Rating,Total Feedback
0,1,7/30/2022,Prerna Singh,11,0:00:38,0:04:20,4.11,9
1,2,7/30/2022,Nandani Gupta,11,0:01:15,0:28:25,3.14,7
2,3,7/30/2022,Ameya Jain,14,0:00:30,0:11:36,4.55,11
3,4,7/30/2022,Mahesh Sarade,14,0:01:04,0:15:46,4.71,7
4,5,7/30/2022,Swati,14,0:01:11,0:16:33,3.67,6
...,...,...,...,...,...,...,...,...
2101,2102,7/1/2022,Jaydeep Dixit,25,0:01:15,0:26:27,4.77,13
2102,2103,7/1/2022,Shivananda Sonwane,23,0:01:24,0:30:14,4.86,14
2103,2104,7/1/2022,Khushboo Priya,24,0:01:46,0:29:28,4.61,18
2104,2105,7/1/2022,Hrisikesh Neogi,15,0:01:05,0:25:29,4.56,9
2105,2106,7/1/2022,Tarun,22,0:00:00,0:45:14,1.50,6

In [11]:
df.groupby('Agent Name')['Average Rating'].mean()

Agent Name
Aditya Shinde             4.500833
Aditya_iot                4.138824
Ameya Jain                4.439333
Anirudh                   2.764286
Ankitjha                  2.666667
Anurag Tiwari             2.750000
Aravind                   4.674286
Ashad Nasim               2.500000
Ayushi Mishra             4.352500
Bharath                   4.711053
Boktiar Ahmed Bappy       4.116923
Chaitra K Hiremath        4.323333
Deepranjan Gupta          4.123810
Dibyanshu                 0.000000
Harikrishnan Shaji        4.167895
Hitesh Choudhary          0.000000
Hrisikesh Neogi           4.480476
Ishawant Kumar            4.429167
Jawala Prakash            4.166400
Jayant Kumar              4.007500
Jaydeep Dixit             4.524286
Khushboo Priya            4.273462
Madhulika G               4.373333
Mahak                     3.000000
Mahesh Sarade             4.000556
Maitry                    4.390500
Maneesh                   1.666667
Manjunatha A              4.313600
Mithun S                  3.931667
Mukesh                    4.645000
Mukesh Rao                2.556667
Muskan Garg               4.274000
Nandani Gupta             4.176667
Nishtha Jain              4.281304
Prabir Kumar Satapathy    4.430000
Prateek _iot              4.302941
Prerna Singh              4.408182
Rishav Dash               4.076667
Saikumarreddy N           4.570000
Samprit                   0.000000
Sandipan Saha             4.290000
Sanjeev Kumar             4.412609
Saurabh Shukla            4.167500
Shiva Srivastava          4.048571
Shivan K                  3.874545
Shivan_S                  4.250000
Shivananda Sonwane        4.535000
Shubham Sharma            4.607619
Sowmiya Sivakumar         4.200000
Sudhanshu Kumar           5.000000
Suraj S Bilgi             4.680000
Swati                     4.277059
Tarun                     1.500000
Vivek                     3.004000
Wasim                     4.500000
Zeeshan                   4.288125
Name: Average Rating, dtype: float64

In [12]:

df[df['Agent Name']=='Hitesh Choudhary']

,SL No,Date,Agent Name,Total Chats,Average Response Time,Average Resolution Time,Average Rating,Total Feedback
1146,1147,7/15/2022,Hitesh Choudhary,1,0:00:00,0:01:25,0.0,0

In [14]:
df.groupby('Agent Name').count()

,SL No,Date,Total Chats,Average Response Time,Average Resolution Time,Average Rating,Total Feedback
Agent Name,,,,,,,
Aditya Shinde,12,12,12,12,12,12,12
Aditya_iot,17,17,17,17,17,17,17
Ameya Jain,15,15,15,15,15,15,15
Anirudh,7,7,7,7,7,7,7
Ankitjha,3,3,3,3,3,3,3
Anurag Tiwari,2,2,2,2,2,2,2
Aravind,14,14,14,14,14,14,14
Ashad Nasim,2,2,2,2,2,2,2
Ayushi Mishra,24,24,24,24,24,24,24
Bharath,19,19,19,19,19,19,19
Boktiar Ahmed Bappy,26,26,26,26,26,26,26
Chaitra K Hiremath,6,6,6,6,6,6,6
Deepranjan Gupta,21,21,21,21,21,21,21
Dibyanshu,1,1,1,1,1,1,1
Harikrishnan Shaji,19,19,19,19,19,19,19
Hitesh Choudhary,1,1,1,1,1,1,1
Hrisikesh Neogi,21,21,21,21,21,21,21
Ishawant Kumar,24,24,24,24,24,24,24
Jawala Prakash,25,25,25,25,25,25,25
Jayant Kumar,8,8,8,8,8,8,8
Jaydeep Dixit,21,21,21,21,21,21,21
Khushboo Priya,26,26,26,26,26,26,26
Madhulika G,24,24,24,24,24,24,24
Mahak,1,1,1,1,1,1,1
Mahesh Sarade,18,18,18,18,18,18,18
Maitry,20,20,20,20,20,20,20
Maneesh,3,3,3,3,3,3,3
Manjunatha A,25,25,25,25,25,25,25
Mithun S,18,18,18,18,18,18,18
Mukesh,2,2,2,2,2,2,2
Mukesh Rao,3,3,3,3,3,3,3
Muskan Garg,5,5,5,5,5,5,5
Nandani Gupta,21,21,21,21,21,21,21
Nishtha Jain,23,23,23,23,23,23,23
Prabir Kumar Satapathy,17,17,17,17,17,17,17
Prateek _iot,17,17,17,17,17,17,17
Prerna Singh,22,22,22,22,22,22,22
Rishav Dash,21,21,21,21,21,21,21
Saikumarreddy N,13,13,13,13,13,13,13
Samprit,1,1,1,1,1,1,1
Sandipan Saha,3,3,3,3,3,3,3
Sanjeev Kumar,23,23,23,23,23,23,23
Saurabh Shukla,4,4,4,4,4,4,4
Shiva Srivastava,7,7,7,7,7,7,7
Shivan K,22,22,22,22,22,22,22
Shivan_S,1,1,1,1,1,1,1
Shivananda Sonwane,28,28,28,28,28,28,28
Shubham Sharma,21,21,21,21,21,21,21
Sowmiya Sivakumar,9,9,9,9,9,9,9
Sudhanshu Kumar,2,2,2,2,2,2,2
Suraj S Bilgi,2,2,2,2,2,2,2
Swati,17,17,17,17,17,17,17
Tarun,1,1,1,1,1,1,1
Vivek,5,5,5,5,5,5,5
Wasim,16,16,16,16,16,16,16
Zeeshan,16,16,16,16,16,16,16